/* <!-- Zach Schelin -->
<!-- Lasted Edited 12:18pm on 4/15/2022 --> */
/* My Custom Styles*/
.backgroundcolor {
    background-color: #def7fa
}
.bordercolor {
    background-color: #def7fa;
}
.myimage {
    height: 400px;
    width: auto;
    position: relative;
    overflow: hidden;
    float: right;
    border-radius: 10%;
    margin: 10px;
    box-sizing: border-box;
}
.shortbio {
    /* top:70%;
    left: 26%;
    right: 40%;
    height: 500px;
    word-wrap: break-word;
    text-align: justify;
    position: relative; */
}
.mypicturelayout {
    top: 660px;
    left: 60%;
    right: 50%;
    height: 300px;
}
.footer {
    position:absolute ;
    left: 0;
    /* bottom: -800px; */
    width: 100%;
    color: white;
    text-align: center;
 }
.section-p {
    text-align: justify;
}
.sectionheading1 {
    color: #212529;
    font-weight: bold;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.sectionheading2 {
    color: #212529;
    font-weight: bold;
    font-style: italic;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.resumedate {
    color: #212529;
    font-weight: bold;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: right;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #ca786d;
}
.social-icon {
    color: #ca786d;
    font-size: 50px;
    border-color: #212529;
    border-width: 1px;
    transition: color 0.2s;
}
.social-icon:hover {
    color: hsla(9, 75%, 61%, 0.527);
}
 .about-footer {
    position:absolute ;
    left: 0;
    /* bottom: -3000px; */
    width: 100%;
    color: white;
    text-align: center;}
 .footer-resume {
    position:absolute ;
    left: 0;
    /* bottom: -3200px; */
    width: 100%;
    color: white;
    text-align: center;
 }
.maintext {
    text-align: justify;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25px;
    line-height: 1.5em;
}
.back-to-top {
    text-align: center;
}
.shortbiounder {
    top: 950px;
    left: 26%;
    right:30%;
    height: 310px;
}
.videobox {
    top: 2910px;
    left: 26%;
    right:26%;
    height: 410px;
}
.seeresume {
    top: 152%; 
  
}
.seeaboutme {
    top: 145%;
    
}
.seeresumetext {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #ca786d;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #ffffff;
}
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.common {
        position: absolute;
        /* background-color: antiquewhite;
        border: solid 2px black; */
    }
    
.aligncenter {
    text-align: center;
}
.tabflex {
    flex: auto;
}
#wrapper {
    margin-left:auto;
    margin-right:26%;
    width: 34%;
}
#wrapperbuttons {
    margin-left:26%;
    margin-right:auto;
    width: 20%;
}
#page-main { flex-grow: 1; }